<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button>Photos</button>
        <button mat-button>Illustration</button>
        <button mat-button>Vectors</button>
        <button mat-button>Videos</button>
        <button mat-button>3D</button>
        <span class="sst-spacer"></span>
        <div class="sst-button-row">
            <button mat-raised-button color="accent">Upload</button>
            <button mat-raised-button color="accent">Alexandre</button>
            <button mat-raised-button color="accent">Go To CMS</button>
        </div>
    </mat-toolbar-row>

</mat-toolbar>