@font-face {
    font-family: 'ProximaNovaLight';
    src: url('/fonts/proximanova-light-webfont.eot');
    src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), 
    url('/fonts/proximanova-light-webfont.woff') format('font-woff'), 
    url('/fonts/proximanova-light-webfont.ttf') format('truetype'), 
    url('/fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaReg';
    src: url('/fonts/proximanova-reg-webfont.eot');
    src: url('/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), 
    url('/fonts/proximanova-reg-webfont.woff') format('font-woff'), 
    url('/fonts/proximanova-reg-webfont.ttf') format('truetype'), 
    url('/fonts/proximanova-reg-webfont.svg#ProximaNovaReg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 22px;
    color: #444;
    margin: 0px;
}