<form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
    <input formControlName="document" type="file" ng2FileSelect accept="*.*" [uploader]="uploader" multiple /><br />
    <br>
    <div class="drop-zone">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="well my-drop-zone">
            Drag and drop files to upload
        </div>

    </div>
    <table>
        <thead>
            <tr>
                <th width="90%">
                    File Name
                </th>
                <th width="10%">
                    Remove
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of uploader.queue">
                <th width="90%">
                    (NaN MB)
                </th>
                <th class="text-center" width="10%">
                    <mat-icon (click)="item.remove()">delete</mat-icon>
                </th>
            </tr>
        </tbody>
    </table>
    <br>
    <button mat-raised-button color="accent" type="submit">Upload Data</button>
</form>