<app-top-header></app-top-header>
<mat-toolbar style="height: 100px;">
  <div class="shioharaLogoOuter">
    <div class="shioharaLogoInner">
      Sh
    </div>
  </div>
  <div class="shTextLogo">
    Shiohara<br>Stock
  </div>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search for Photos, Illustration, Vectors, Videos and 3D..." color="primary">
    </mat-form-field>
    </form>
</mat-toolbar>